# Pandas Concepts

command to install pandas:

***pip3 install pandas***

In [1]:
import pandas

In [2]:
import numpy

In [4]:
list = ['Roger','Karan','Rockey','Aryan']
my_series = pandas.Series(list)
print(my_series)

0     Roger
1     Karan
2    Rockey
3     Aryan
dtype: object

In [5]:
print(my_series[1])

Karan

###  #Numpy to Pandas

In [11]:
data = [[1,2],[3,4]] 
n2p = pandas.DataFrame(data)

In [12]:
print('Data Frame:', n2p)

Data Frame:    0  1
0  1  2
1  3  4

### #Pandas to Numpy

In [13]:
p2n = numpy.array(n2p)
print('Numpy array:', p2n)

Numpy array: [[1 2]
 [3 4]]

### #Concatenate Two DataFrames

In [14]:
frame1 = pandas.DataFrame({'name': ['Rajat', 'Aryan','Paul'],
                     'Age': ['25', '30', '50']},
                    index=[0, 1, 2])
frame2 = pandas.DataFrame({'name': ['Adam', 'Smith' ],
                     'Age': ['26', '11']},
                    index=[3, 4])

In [16]:
frame_concat = pandas.concat([frame1,frame2])

In [17]:
print(frame_concat)

    name Age
0  Rajat  25
1  Aryan  30
2   Paul  50
3   Adam  26
4  Smith  11

### #Read CSV File

In [21]:
readCSV = pandas.read_csv('FL_insurance.csv')
readCSV.head

<bound method NDFrame.head of        policyID statecode           county  eq_site_limit  hu_site_limit  \
0        119736        FL      CLAY COUNTY       498960.0      498960.00
1        448094        FL      CLAY COUNTY      1322376.3     1322376.30
2        206893        FL      CLAY COUNTY       190724.4      190724.40
3        333743        FL      CLAY COUNTY            0.0       79520.76
4        172534        FL      CLAY COUNTY            0.0      254281.50
...         ...       ...              ...            ...            ...
36629    404309        FL  PINELLAS COUNTY            0.0       88722.00
36630    465875        FL  PINELLAS COUNTY      1297057.5     1297057.50
36631    791209        FL  PINELLAS COUNTY       173286.9      173286.90
36632    322627        FL  PINELLAS COUNTY      1499781.6     1499781.60
36633    398149        FL  PINELLAS COUNTY       373488.3      373488.30

       fl_site_limit  fr_site_limit    tiv_2011    tiv_2012  \
0           498960.0       498960.0   498960.00   792148.90
1          1322376.3      1322376.3  1322376.30  1438163.57
2           190724.4       190724.4   190724.40   192476.78
3                0.0            0.0    79520.76    86854.48
4                0.0       254281.5   254281.50   246144.49
...              ...            ...         ...         ...
36629            0.0        88722.0    88722.00   155065.65
36630      1297057.5      1297057.5  1297057.50  1577500.79
36631            0.0            0.0   173286.90   205527.97
36632            0.0            0.0  1499781.60  1768782.43
36633            0.0            0.0   373488.30   596003.67

       eq_site_deductible  hu_site_deductible  fl_site_deductible  \
0                     0.0              9979.2                 0.0
1                     0.0                 0.0                 0.0
2                     0.0                 0.0                 0.0
3                     0.0                 0.0                 0.0
4                     0.0                 0.0                 0.0
...                   ...                 ...                 ...
36629                 0.0                 0.0                 0.0
36630                 0.0                 0.0                 0.0
36631                 0.0                 0.0                 0.0
36632                 0.0                 0.0                 0.0
36633                 0.0                 0.0                 0.0

       fr_site_deductible  point_latitude  point_longitude         line  \
0                       0       30.102261       -81.711777  Residential
1                       0       30.063936       -81.707664  Residential
2                       0       30.089579       -81.700455  Residential
3                       0       30.063236       -81.707703  Residential
4                       0       30.060614       -81.702675  Residential
...                   ...             ...              ...          ...
36629                   0       28.122885       -82.770218  Residential
36630                   0       28.080900       -82.758800  Residential
36631                   0       28.110550       -82.766360  Residential
36632                   0       28.089415       -82.697411  Residential
36633                   0       28.064440       -82.774590  Residential

      construction  point_granularity
0          Masonry                  1
1          Masonry                  3
2             Wood                  1
3             Wood                  3
4             Wood                  1
...            ...                ...
36629         Wood                  3
36630      Masonry                  1
36631         Wood                  4
36632      Masonry                  3
36633      Masonry                  1

[36634 rows x 18 columns]>

In [23]:
readCSV['policyID']

0        119736
1        448094
2        206893
3        333743
4        172534
          ...
36629    404309
36630    465875
36631    791209
36632    322627
36633    398149
Name: policyID, Length: 36634, dtype: int64

In [24]:
readCSV.dropna(inplace = True)

In [25]:
readCSV

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36629,404309,FL,PINELLAS COUNTY,0.0,88722.00,0.0,88722.0,88722.00,155065.65,0.0,0.0,0.0,0,28.122885,-82.770218,Residential,Wood,3
36630,465875,FL,PINELLAS COUNTY,1297057.5,1297057.50,1297057.5,1297057.5,1297057.50,1577500.79,0.0,0.0,0.0,0,28.080900,-82.758800,Residential,Masonry,1
36631,791209,FL,PINELLAS COUNTY,173286.9,173286.90,0.0,0.0,173286.90,205527.97,0.0,0.0,0.0,0,28.110550,-82.766360,Residential,Wood,4
36632,322627,FL,PINELLAS COUNTY,1499781.6,1499781.60,0.0,0.0,1499781.60,1768782.43,0.0,0.0,0.0,0,28.089415,-82.697411,Residential,Masonry,3
36633,398149,FL,PINELLAS COUNTY,373488.3,373488.30,0.0,0.0,373488.30,596003.67,0.0,0.0,0.0,0,28.064440,-82.774590,Residential,Masonry,1

In [32]:
my_info = ['I', 'am', 'Learning', 'python', 'from', 'DevIncept']
frame00 = pandas.DataFrame(my_info)

In [33]:
print(frame00)

           0
0          I
1         am
2   Learning
3     python
4       from
5  DevIncept

In [44]:
details = {'Char':['I', 'am', 'Learning', 'Python', 'from', 'DevIncept'],'Seq':[1,2,3,4,5,6]}
frame01 = pandas.DataFrame(details)

In [45]:
print(frame01)

        Char  Seq
0          I    1
1         am    2
2   Learning    3
3     Python    4
4       from    5
5  DevIncept    6

In [46]:
print(frame01[['Seq', 'Char']])

   Seq       Char
0    1          I
1    2         am
2    3   Learning
3    4     Python
4    5       from
5    6  DevIncept

In [47]:
readCSV = pandas.read_csv('FL_insurance.csv', index_col = 'policyID')
readCSV.head

<bound method NDFrame.head of          statecode           county  eq_site_limit  hu_site_limit  \
policyID
119736          FL      CLAY COUNTY       498960.0      498960.00
448094          FL      CLAY COUNTY      1322376.3     1322376.30
206893          FL      CLAY COUNTY       190724.4      190724.40
333743          FL      CLAY COUNTY            0.0       79520.76
172534          FL      CLAY COUNTY            0.0      254281.50
...            ...              ...            ...            ...
404309          FL  PINELLAS COUNTY            0.0       88722.00
465875          FL  PINELLAS COUNTY      1297057.5     1297057.50
791209          FL  PINELLAS COUNTY       173286.9      173286.90
322627          FL  PINELLAS COUNTY      1499781.6     1499781.60
398149          FL  PINELLAS COUNTY       373488.3      373488.30

          fl_site_limit  fr_site_limit    tiv_2011    tiv_2012  \
policyID
119736         498960.0       498960.0   498960.00   792148.90
448094        1322376.3      1322376.3  1322376.30  1438163.57
206893         190724.4       190724.4   190724.40   192476.78
333743              0.0            0.0    79520.76    86854.48
172534              0.0       254281.5   254281.50   246144.49
...                 ...            ...         ...         ...
404309              0.0        88722.0    88722.00   155065.65
465875        1297057.5      1297057.5  1297057.50  1577500.79
791209              0.0            0.0   173286.90   205527.97
322627              0.0            0.0  1499781.60  1768782.43
398149              0.0            0.0   373488.30   596003.67

          eq_site_deductible  hu_site_deductible  fl_site_deductible  \
policyID
119736                   0.0              9979.2                 0.0
448094                   0.0                 0.0                 0.0
206893                   0.0                 0.0                 0.0
333743                   0.0                 0.0                 0.0
172534                   0.0                 0.0                 0.0
...                      ...                 ...                 ...
404309                   0.0                 0.0                 0.0
465875                   0.0                 0.0                 0.0
791209                   0.0                 0.0                 0.0
322627                   0.0                 0.0                 0.0
398149                   0.0                 0.0                 0.0

          fr_site_deductible  point_latitude  point_longitude         line  \
policyID
119736                     0       30.102261       -81.711777  Residential
448094                     0       30.063936       -81.707664  Residential
206893                     0       30.089579       -81.700455  Residential
333743                     0       30.063236       -81.707703  Residential
172534                     0       30.060614       -81.702675  Residential
...                      ...             ...              ...          ...
404309                     0       28.122885       -82.770218  Residential
465875                     0       28.080900       -82.758800  Residential
791209                     0       28.110550       -82.766360  Residential
322627                     0       28.089415       -82.697411  Residential
398149                     0       28.064440       -82.774590  Residential

         construction  point_granularity
policyID
119736        Masonry                  1
448094        Masonry                  3
206893           Wood                  1
333743           Wood                  3
172534           Wood                  1
...               ...                ...
404309           Wood                  3
465875        Masonry                  1
791209           Wood                  4
322627        Masonry                  3
398149        Masonry                  1

[36634 rows x 17 columns]>

In [49]:
my_frame.fillna(0)
print(my_frame)

   0  1
0  1  2
1  3  4